<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Saved Articles</a>
        </div>
        <ul class="nav navbar-bav">
            <li class="active">
                <a href="/">Home</a>
            </li>
            <li class="active">
                <a href="/saved">Saved Articles</a>
            </li>
            <li>
                <a class="btn btn-danger scrape-new">SCRAPE NEW ARTICLES!</a>
            </li>
        </ul>
    </div>
</nav>
<div class="jumbotron text-center">
    <div class="overlay"></div>
    <div class="background-image"></div>
    <div class="caption">
        <h1>Saved Articles</h1>
        <p>Your saved articles!</p>
    </div>
</div>
<div class="container-fluid article-container">
    <footer class="footer">
        <p>New York Times Mongo Scraper</p>
</div>
</footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
    crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

<script src="../../assets/javascript/saved.js"></script>