
.wrapper {
  background-image: url("./imgs/nytimes.jpg");
}
#scrape{
 float: right;
 margin: 25px 25px;
}

#titlePage{
  float: left;
  margin: 25px 25px;
}

#articles {
  /* display: inline-block; */
  overflow: auto;
  background-color: #FFFFCC;
}

